#title{
  background-color: #466aa3;
}
h1{
  font-family: Montserrat;
  font-weight: bolder;
  line-height: 1.7;
}
h4{
  font-family: Montserrat;
  font-weight: bold;
}

ul{
  font-family: Montserrat;
}

img.p1{
  border-radius: 70px;
}

.container-fluid{
  padding: 3% 13%;
}
